.reg{
    padding:56px 17px;
    display:flex;
    flex-direction: column;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: #FFF;
    z-index: 20;
    .reg-logo{
        width:100%;
        height:223px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width:60px;
            height:60px;
            border-radius: 50%;
        }
    }
    input{
        width:100%;
        height:42px;
        outline:none;
        line-height: 42px;
        padding-left:10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    a{
        color:#188AE4;
        margin-bottom: 10px;
    }
    button{
        width:100%;
        height:42px;
        line-height: 42px;
        border:none;
        text-align: center;
        background-color: #188AE4;
        color:#FFF;
        border-radius: 5px;
    }
}