<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>watch</title>
    <script type="text/javascript" src='vue.js'></script>
    <script>
    window.onload = function(){

       var vm = new Vue({
            el:'#my',
            data:{ 
                name:'Qwer',
                age:18,
                obj:{
                  id:1,
                  msg:'12345'
                }
            },
            methods:{
              count:function(newValue,oldValue){
                console.log('name修改了',newValue,oldValue)
              }
            },
            watch:{   //局部定义
              // name:function(newValue,oldValue){
              //   console.log('name修改了',newValue,oldValue)
              // },
              //几种不同的写法
              // name(newValue,oldValue){
              //   console.log('name修改了',newValue,oldValue)
              // },
              // 'name'(newValue,oldValue){
              //   console.log('name修改了',newValue,oldValue)
              // },
              name:'count',   //值可以是方法
              //监听对象
              // 'obj.id'(newValue,oldValue){
              //   console.log('id修改了',newValue,oldValue)
              // },
              // 'obj'(newValue,oldValue){   //不能触发
              //   console.log('obj修改了',newValue,oldValue)
              // },
              //深度监听
              obj:{
                handler:function(newValue,oldValue){   //监听中的默认的执行函数
                  console.log('obj修改了',newValue,oldValue)  //监听的是数组或对象 newValue,oldValue是相等的，因为指向的是同一个对象
                },
                deep:true    //监听对象的属性变化，false  handler函数执行   
              }
            }
        })
        //全局方式
        vm.$watch('name2',function(newValue,oldValue){
          console.log('name修改了',newValue,oldValue)
        })
    }
    </script>
    
</head> 
<body>
  <div id="my">
      <input type="text" v-model="name" />
      <input type="text" v-model="obj.id" />

  </div>
</body>
</html>