<h3 class="orange-text">女装</h3>
<div class="row is-flex">
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let v of lists;let in = index;">
    <div class="thumbnail">
        <!--<img [src]="v.product_img_url" >-->
        <img src="{{v.product_img_url}}" >
        <div class="caption">
          <h4 class="text-ellipsis">
            <a title="title">{{v.product_name}}</a>
          </h4>
          <p>
            <a >View details &raquo;</a>
            <small class="label label-success pull-right">
              8.0
              <i class="glyphicon glyphicon-star"></i>
            </small>
          </p>
        </div> 
      </div>
  </div>
</div>
