.main {
    background-image: url(../img/back.jpg);
    max-width:600px;
    background-size: 600px;
    position:relative;
}
.main .btn {
    position:absolute;
    top:10px;
    color: red;
    cursor:pointer;
}
.main .play{
    right:70px;
}
.main .stop{
    right:20px;
}